h1, h2, h3, h4, h5, h6{
    font-family: "Oswald"
}

body{
    font-family: "Open Sana"
}

.Game-tag{
    background-color:#000;
    color:#fff;
    font-size:2em;
    display:inline-block;
    padding-left:16px;
    padding-right:2px;
    text-align:center;
}

.Start-tag{
    background-color:#000;
    color:#05F228;
    font-size:2em;
    display:inline-block;
    padding-left:2px;
    padding-right:16px;
    text-align:center;
}

.gameStart-black{
    color:#000!important;
    background-color:#000!important
}

.gs-header{
    padding-top:48px!important;
    padding-bottom:48px!important;
    color: #000!important;
    background-color:#fff!important;
    padding:0.01em 16px;
}

.gs-button{
    display:inline-block;
    font-weight:400;
    line-height:1.5;
    color:#fff;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.gs-button:hover{
    color:#000;
    background-color:#05F228;
    border-color:#1B402E;
}

.gs-searchResult{
    background-color:#000;
    color:#fff!important;
}